<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Add Movie</h5>
            </div>
            <div class="card-body">
                <form>
                    
                    <div class="mb-3"><label for="actorId">Actor ID</label>
                        <div class="form-group">
                            <input type="number" id="actorId" formControlName="actorId" class="form-control"
                                placeholder="Actor ID">
                        </div>
                    </div>
                    <div class="mb-3"><label for="directorId">Director ID</label>
                        <div class="form-group">
                            <input type="number" id="directorId" formControlName="directorId" class="form-control"
                                placeholder="Director ID">
                        </div>
                    </div>
                    <div class="mb-3"><label for="movieName">Movie Name</label>
                        <div class="form-group">
                            <input type="text" id="movieName" formControlName="movieName" class="form-control"
                                placeholder="Movie Name">
                        </div>
                    </div>
                    <div class="mb-3"><label for="description">Description</label>
                        <div class="form-group">
                            <input type="text" id="description" formControlName="description" class="form-control"
                                placeholder="Description">
                        </div>
                    </div>
                    <div class="mb-3"><label for="imageUrl">Image Url</label>
                        <div class="form-group">
                            <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control"
                                placeholder="Image Url">
                        </div>
                    </div>
                    <div class="mb-3"><label for="movieScore">Movie Score</label>
                        <div class="form-group">
                            <input type="number" id="movieScore" formControlName="movieScore" class="form-control"
                                placeholder="Movie Score">
                        </div>
                    </div>
                    <div class="mb-3"><label for="releaseDate">Release Date</label>
                        <div class="form-group">
                            <input type="date" id="releaseDate" formControlName="releaseDate" class="form-control"
                                placeholder="Release Date">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary" (click)="add()">Add</button>
            </div>
        </div>
    </div>
</div>