<table class="table">
  <thead>
    <tr>
      <th>Movie Name</th>
      <th>Description</th>
      <th>Director</th>
      <th>Actor</th>
      <th>Movie Score</th>
      <th>Release Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.movieName }}</td>
      <td>{{ movie.description}}</td>
      <td>{{ movie.directorId }}</td>
      <td>{{ movie.actorId }}</td>
      <td>{{ movie.movieScore }}</td>
      <td>{{ movie.releaseDate }}</td>
      <td><button (click)="updateMovie(movie)" type="button" class="btn btn-outline-dark">Update</button></td>
      <td><button (click)="deleteMovie(movie)" type="button" class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>
<!-- <div class="btn-group float-end" role="group" aria-label="Basic outlined example">
  <button (click)="addMovie()" type="button" class="btn btn-light">Add Movie</button>
  <button type="button" class="btn btn-danger">Delete All</button>
</div> -->
<router-outlet></router-outlet>