<table class="table">
  <thead>
    <tr>
      <th>Movie Name</th>
      <th>Description</th>
      <th>Director</th>
      <th>Actor</th>
      <th>Movie Score</th>
      <th>Release Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.movieName }}</td>
      <td>{{ movie.description}}</td>
      <td>{{ movie.directorId }}</td>
      <td>{{ movie.actorId }}</td>
      <td>{{ movie.movieScore }}</td>
      <td>{{ movie.releaseDate }}</td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>